@media (max-width: 1000px) {
    .board_wrap {
        width: 100%;
        min-width: 320px;
        padding: 0 30px;
        box-sizing: border-box;
    }

    .board_view .info dl {
        width: 50%;
        padding: 0;
    }

    .board_view .info dl:nth-child(-n+2) {
        margin-bottom: 5px;
    }

    .board_view .info dl::before {
        display: none;
    }

    .board_view .info dl dt,
    .board_view .info dl dd {
        font-size: 1.2rem;
    }

}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.board_wrap {
    width: 1000px;
    margin: 100px auto;
}


/* Detail */

.board_view {
    width: 100%;
    padding : 25px;
    border-radius: 15px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-height: 50px;
}

.board_view .view_btn {
    padding-right: 40px;
    text-align: right;
    font-size: 15px;
}

.board_view .view_btn form{
    float:right;
    margin-left:5px;
}

.board_view .comment {
    height: 90px;
    vertical-align: middle;
}

.comment_writer {
    width: 150px;
    height: 50px;
    font-size: 15px;
    margin-top: 25px;
    margin-left: 20px;
}
.comment_content{
    width: 75%;
    height: 50px;
    font-size:15px;
    margin-top: 25px;
    margin-left: 20px;
}
.board_view .comment input {
    margin-top: 23px;
    width: calc(85% - 100px);
    height: 40px;
    border-radius: 10px;
}
.board_view .board_view_top {
    padding-bottom:10px;
    border-bottom: 1px dashed darkgrey;
    width:95%;
    margin :auto;
}

.board_view .comment_btn {
    margin-right: 25px;
    float: right;
    margin-top: -48px;
}
.board_view .comment_btn .on {
    height: 50px;
    width: 80px;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #000;
}

.board_view .title {
    margin-top:20px;
    font-size: 2rem;
    font-weight: bolder;
}

.board_view .info {
    padding-left: 40px;
    font-size: 0;
    padding-top: 10px;
    padding-bottom: 30px;
}

button{
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor:pointer;
    font-size: 15px;
    background: none;
}

.board_view .info dl {
    position: relative;
    display: inline-block;
    padding: 0 20px;
}

.board_view .info dl:first-child {
    padding-left: 0;
}
.board_view_date {
}


.board_view .info dl::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    display: block;
    width: 1px;
    height: 13px;
    background: #ddd;
}

.board_view .info dl:first-child::before {
    display: none;
}

.board_view .info dl dt,
.board_view .info dl dd {
    display: inline-block;
    font-size: 1.4rem;
}

.board_view .info dl dt {
}

.board_view .info dl dd {
    margin-left: 10px;
    color: #777;
}

.board_view .cont {
    padding: 15px;
    margin-left: 30px;
    line-height: 160%;
    font-size: 1.4rem;
}


.cont{
    width:100%;
    min-height: 200px;
}
#comment-wrap{
    display: flex;
    align-items: center;
}