<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>게시글 생성</title>
    <link rel="stylesheet" href="/css/boardCreate.css"/>
</head>
<body>
<div class="board_wrap">
    <div class="board_create">
        <div class="board_title">
            <strong th:if="${board.id} == null">글쓰기</strong>
            <strong th:if="${board.id} != null">수정하기</strong>
        </div>
        <div class="board_write_wrap">
            <div class="board_write">
                <div class="title">
                    <dl>
                        <dt>제목</dt>
                        <dd><input type="text" placeholder="제목 입력" id="title" th:value="${board.title}"/></dd>
                    </dl>
                    <!--                    <dl>-->
                    <!--                        <dt>파일</dt>-->
                    <!--                        <dd>-->
                    <!--                            <input type="file" name="files" multiple/>-->
                    <!--                        </dd>-->
                    <!--                    </dl>-->
                </div>
                <div class="cont">
                    <label>
                        <textarea placeholder="내용 입력" id="content" th:text="${board.content}"></textarea>
                    </label>
                </div>
                <div class="bt_wrap">
                    <button th:if="${board.id} == null" id="create-btn" class="on" type="submit">등록</button>
                    <button th:if="${board.id} != null" id="modify-btn" class="on" type="submit">수정</button>
                    <a th:if="${board.id} == null" href="/boards">취소</a>
                    <a th:if="${board.id} != null" th:href="@{/boards/{id}(id=${board.id})}">취소</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/board.js"></script>

</body>
</html>