<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notice Board</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</head>
<body style="max-width: 1000px; margin: auto">
<hr>
<div class="container bootstrap snippets bootdey" style="width: 100%;">
    <div class="row">
        <div class="col-sm-10">
            <h1>Team Ladder Notice Board</h1></div>
        <div class="col-sm-2">
            <a href="/users" class="pull-right"><img title="profile image" class="img-responsive" src="/img/ladder.png"></a>
        </div>
    </div>
    <div class="row">
        <!--/col-3-->
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
            <li><a href="#messages" data-toggle="tab">Messages</a></li>
            <li><a href="#settings" data-toggle="tab">Settings</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="home">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>생성 일시</th>
                            <th>조회수</th>
                        </tr>
                        </thead>
                        <tbody id="items">
                        <tr th:each="item: ${boards}">
                            <td th:text="${item.id}"></td>
                            <td style="font-weight: bold;"><a th:href="@{/boards/{id}(id=${item.id})}"
                                                              th:text="${item.title}"></a></td>
                            <td th:text="${item.user.nickname}"></td>
                            <td th:text="${item.createdAt}"></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                    <hr>
                </div>
                <!--/table-resp-->
            </div>
        </div>
        <!--/tab-content-->
        <button th:onclick="|location.href='@{/boards/new-board}'|">글쓰기</button>
    </div>
    <!--/row-->
</div>
<!--/container-->
</body>
</html>
